USE [VehicleGPSVideo]
GO
/****** Object:  Table [dbo].[BasicInfo_bak]    Script Date: 2023/6/6 10:14:33 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[BasicInfo_bak](
	[BaseId] [int] IDENTITY(1,1) NOT NULL,
	[Name] [nvarchar](255) NULL,
	[Code] [nvarchar](255) NULL,
	[ParentID] [nvarchar](255) NULL,
	[MetaData] [nvarchar](255) NULL,
	[Deleted] [bit] NULL,
	[CreateTime] [datetime] NULL,
	[TenantId] [int] NULL,
	[Remark] [nvarchar](255) NULL,
	[Owner] [nvarchar](50) NULL,
	[SN] [int] NULL,
PRIMARY KEY CLUSTERED 
(
	[BaseId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
SET IDENTITY_INSERT [dbo].[BasicInfo_bak] ON 

INSERT [dbo].[BasicInfo_bak] ([BaseId], [Name], [Code], [ParentID], [MetaData], [Deleted], [CreateTime], [TenantId], [Remark], [Owner], [SN]) VALUES (2, N'未录入', N'0', N'plateColor', NULL, 0, CAST(N'2011-01-01T00:00:00.000' AS DateTime), 0, NULL, NULL, 0)
INSERT [dbo].[BasicInfo_bak] ([BaseId], [Name], [Code], [ParentID], [MetaData], [Deleted], [CreateTime], [TenantId], [Remark], [Owner], [SN]) VALUES (3, N'蓝色', N'1', N'plateColor', NULL, 0, CAST(N'2011-01-01T00:00:00.000' AS DateTime), 0, NULL, NULL, 0)
INSERT [dbo].[BasicInfo_bak] ([BaseId], [Name], [Code], [ParentID], [MetaData], [Deleted], [CreateTime], [TenantId], [Remark], [Owner], [SN]) VALUES (4, N'黄色', N'2', N'plateColor', NULL, 0, CAST(N'2011-01-01T00:00:00.000' AS DateTime), 0, NULL, NULL, 0)
GO
SET IDENTITY_INSERT [dbo].[BasicInfo_bak] OFF
GO
EXEC sys.sp_addextendedproperty @name=N'MS_Description', @value=N'基础数据编码' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'BasicInfo_bak', @level2type=N'COLUMN',@level2name=N'BaseId'
GO
EXEC sys.sp_addextendedproperty @name=N'MS_Description', @value=N'名称' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'BasicInfo_bak', @level2type=N'COLUMN',@level2name=N'Name'
GO
EXEC sys.sp_addextendedproperty @name=N'MS_Description', @value=N'代码' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'BasicInfo_bak', @level2type=N'COLUMN',@level2name=N'Code'
GO
EXEC sys.sp_addextendedproperty @name=N'MS_Description', @value=N'上级' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'BasicInfo_bak', @level2type=N'COLUMN',@level2name=N'ParentID'
GO
EXEC sys.sp_addextendedproperty @name=N'MS_Description', @value=N'元(标签)' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'BasicInfo_bak', @level2type=N'COLUMN',@level2name=N'MetaData'
GO
EXEC sys.sp_addextendedproperty @name=N'MS_Description', @value=N'删除' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'BasicInfo_bak', @level2type=N'COLUMN',@level2name=N'Deleted'
GO
EXEC sys.sp_addextendedproperty @name=N'MS_Description', @value=N'创建时间' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'BasicInfo_bak', @level2type=N'COLUMN',@level2name=N'CreateTime'
GO
EXEC sys.sp_addextendedproperty @name=N'MS_Description', @value=N'租户编码' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'BasicInfo_bak', @level2type=N'COLUMN',@level2name=N'TenantId'
GO
EXEC sys.sp_addextendedproperty @name=N'MS_Description', @value=N'备注' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'BasicInfo_bak', @level2type=N'COLUMN',@level2name=N'Remark'
GO
EXEC sys.sp_addextendedproperty @name=N'MS_Description', @value=N'物主' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'BasicInfo_bak', @level2type=N'COLUMN',@level2name=N'Owner'
GO
EXEC sys.sp_addextendedproperty @name=N'MS_Description', @value=N'序号' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'BasicInfo_bak', @level2type=N'COLUMN',@level2name=N'SN'
GO
EXEC sys.sp_addextendedproperty @name=N'MS_Description', @value=N'基础数据' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'BasicInfo_bak'
GO
