@using NewLife.Web;
@using NewLife.Cube;
@using VehicleVedioManage.BasicData.Entity;
@*@using VehicleVedioManage.Enums;*@
@{
    var page = ViewBag.Page as Pager;
    var PlateColorList = PlateColor.FindAll();// CommonEnumFunc.GetDictionary("PlateColor", 0);
}
<div class="form-group">
    <label for="PlateColor" class="control-label">车牌颜色：</label>
    @Html.ForDropDownList("PlateColor", PlateColorList, page["PlateColor"], "全部", true)
</div>
